[submodule "cpack.d"]
	path = cpack.d
	url = https://github.com/coin3d/cpack.d
[submodule "docs/doxygen-awesome/submodule"]
	path = docs/doxygen-awesome/submodule
	url = https://github.com/jothepro/doxygen-awesome-css.git
